{{#partial "content"}}
    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1>{{ entry.title }}</h1>
                    <time datetime="{{ entry.dateAttribute }}">{{ entry.dateText }}</time>
                    <br>
                    <ul class="tags">
                        {{#each entry.tags}}
                            <li><div>{{ this }}</div></li>
                        {{/each}}
                    </ul>
                    <div class="entry">
                        <p>{{ entry.body }}</p>
                        <p><a class="link" href="/edit/entries/{{ entry.slug }}">Edit Entry</a></p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            {{#each entry.comments}}
                <div class="comment">
                    <strong>{{ author }}</strong>
                    <time datetime="{{ dateAttribute }}">{{ dateText }}</time>
                    <p>{{ body }}</p>
                </div>
            {{/each}}
            <div class="new-comment">
                <form action="/add/comments/{{ entry.slug }}" method="post">
                    <label for="name">Author</label>
                    <input type="text" name="author"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="body"></textarea>
                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
        </div>
    </section>
{{/partial}}

{{> base.hbs}}