{{#partial "content"}}
    <section>
        <div class="container">
            {{#if flashMessage}}
                <p id="flash-message">{{ flashMessage }}</p>
            {{/if}}
            <div class="entry-list">
                {{#each entries}}
                    <article>
                        <h2><a href="/entries/{{ slug }}">{{ title }}</a></h2>
                        <time datetime="{{ dateAttribute }}">{{ dateText }}</time>
                        <br>
                        <ul class="tags">
                            {{#each tags}}
                                <li><div>{{ this }}</div></li>
                            {{/each}}
                        </ul>
                    </article>
                {{/each}}
            </div>
        </div>
    </section>
{{/partial}}

{{> base.hbs}}