{{#partial "content"}}
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="/">SparkBlog</a>
                <a class="new-entry button button-round" href="new.html"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="entry-list">
                {{#each entries}}
                    <article>
                        <h2><a href="/entries/{{ slug }}">{{ title }}</a></h2>
                        <time datetime="{{ dateAttribute }}">{{ dateText }}</time>
                        <br>
                        <ul class="tags">
                            {{#each tags}}
                                <li><div>{{ this }}</div></li>
                            {{/each}}
                        </ul>
                    </article>
                {{/each}}
            </div>
        </div>
    </section>
{{/partial}}

{{> base.hbs}}